<div class="scrolling-wrapper">
  <div class="scrolling-card">
    <h2>Lundi 15 mars</h2>
    <img class="scrolling-images" src="https://bit.ly/3ezoVII" alt="">
    <div class="scrolling-title">
      <h2>Pasta al carbonara</h2>
    </div>
  </div>
  <div class="scrolling-card">
    <h2>Mardi 16 mars</h2>
    <img class="scrolling-images" src="https://spoonacular.com/recipeImages/716426-312x231.jpg" alt="">
    <div class="scrolling-title">
      <h2>Pasta al carbonara</h2>
    </div>
  </div>
  <div class="scrolling-card">
    <h2>Mercredi 17 mars</h2>
    <img class="scrolling-images" src="https://bit.ly/3ezoVII" alt="">
    <div class="scrolling-title">
      <h2>Pasta al carbonara</h2>
    </div>
  </div>
</div>
