<%= render 'shared/header', text:"Your menu this week" %>

<div class="scrolling-wrapper">
  <div class="scrolling-card">
    <h2>Lundi 15 mars</h2>
    <div class="scrolling-container">
    <img class="scrolling-images" src="https://spoonacular.com/recipeImages/716429-556x370.jpg" alt="">
    <div class="scrolling-informations">
      <h2>Pasta al carbonara</h2>
      <p>Preparation time : 45 minutes</p>
      <p>Rating : 4/5</p>
      <p> Calories : 550</p>
    </div>
    </div>
  </div>

  <div class="scrolling-card">
    <h2>Mardi 16 mars</h2>
    <div class="scrolling-container">
    <img class="scrolling-images" src="https://spoonacular.com/recipeImages/716426-636x393.jpg" alt="">
    <div class="scrolling-informations">
      <h2>Pasta al carbonara</h2>
      <p>Preparation time : 45 minutes</p>
      <p>Rating : 4/5</p>
      <p> Calories : 550</p>
    </div>
    </div>
  </div>

  <div class="scrolling-card">
    <h2>Mercredi 17 mars</h2>
    <div class="scrolling-container">
    <img class="scrolling-images" src="https://spoonacular.com/recipeImages/716426-636x393.jpg" alt="">
    <div class="scrolling-informations">
      <h2>Pasta al carbonara</h2>
      <p>Preparation time : 45 minutes</p>
      <p>Rating : 4/5</p>
      <p> Calories : 550</p>
    </div>
    </div>
  </div>
</div>



