// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$alex-green: #B4D59A;
$jordane-green: #9ED870;
$morgane-green: #8DC164;
$my-cherry: #F66565;
$my-grey: #474847;
$my-white: #EFEBE7;
$my-white2: #F7F5F3;
$my-white3: #F5F5F5;
$my-dark-green: #6AA074;
