<div class="instruction-card">
    <img src="https://spoonacular.com/cdn/equipment_100x100/slow-cooker.jpg" alt="">
    <div class="instruction-card-content">
        <h4>Step 1:</h4>
        <p>this is a description</p>
    </div>
</div>