<div class="menu-card">
    <img src="https://www.atelierdeschefs.com/media/recette-e23473-pommes-de-terre-facon-arrabbiata-et-gambas-au-basilic.jpg" class="menu-card-img">
    <div class="menu-card-content">
        <h4 class="menu-card-content-title">Recipe name</h4>
        <span><i class="fas fa-star"></i>4.5</span>
        <p><span>300Kcal</span> || <span>30min</span></p>
        <div class="menu-card-content-arrow"><i class="fas fa-chevron-right"></i></div>
    </div>
</div>