
<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation-item">
    <% if current_page?(dashboard_path) %>
      <a href="<%= dashboard_path %>" class="navigation-link active"><i class="fas fa-home navigation-icon"></i><span class="navigation-text">Home</span></a>
    <% else %>
      <a href="<%= dashboard_path %>" class="navigation-link"><i class="fas fa-home navigation-icon"></i><span class="navigation-text">Home</span></a>
    <% end %>
    </li>
    <li class="navigation-item">
      <a href="" class="navigation-link"><i class="far fa-calendar-alt navigation-icon"></i><span class="navigation-text">Menu</span></a>
    </li>
    <li class="navigation-item">
      <%= link_to destroy_user_session_path, method: :delete, class: "navigation-link" do %>
      <i class="fas fa-sign-out-alt navigation-icon"></i><span class="navigation-text">Signout</span>
      <% end  %>
    </li>
  </ul>
</nav>


