<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation-item">
      <a href="" class="navigation-link"><i class="fas fa-home navigation-icon"></i><span class="navigation-text">Home</span></a>
    </li>
    <li class="navigation-item">
      <a href="" class="navigation-link"><i class="far fa-calendar-alt navigation-icon"></i><span class="navigation-text">Menu</span></a>
    </li>
    <li class="navigation-item">
      <a href="" class="navigation-link"><i class="fas fa-utensils navigation-icon"></i><span class="navigation-text">Cook</span></a>
    </li>
  </ul>
</nav>
