<div class="searchbar-container">
    <div class="searchbar">
       <input class="searchbar-input" type="text" placeholder="Search here...">
        <a href="#" class="searchbar-icon"><i class="fa fa-search"></i></a>
    </div>
</div>