<div class="container">
  <h1>Tell us more about you:</h1>  
  
  <div class="container">
  <div class="row">
    <div class="col">
      <div class="border diet" data-diet="vegan" data-state="false">
        <p>Vegan</p>
      </div>
    </div>
    <div class="col">
      <div class="border diet" data-diet="vegetarian" data-state="false">
        <p>Vegetarian</p>
      </div>      
    </div>    
  </div>
  <div class="row">
    <div class="col">
      <div class="border diet" data-diet="gluten-free" data-state="false">
        <p>Gluten-free</p>
      </div>      
    </div>
    <div class="col">
      <div class="border diet" data-diet="dairy-free" data-state="false">
        <p>Dairy-free</p>
      </div> 
    </div>    
  </div>
  <div class="row">
    <div class="col">
      <div class="border diet" data-diet="pescetarian" data-state="false">
        <p>Pescetarian</p>
      </div>      
    </div>
    <div class="col">
      <div class="border diet" data-diet="no-diet" data-state="true">
        <p>No particular diet</p>
      </div>      
    </div>    
  </div>
</div>
  
</div>

<%= console %>
