.border-thin2{
  border-radius: 10px;
  height: 110px;
  background-color: white;
  box-shadow:0 5px 20px rgba(0, 0, 0, 0.05);
}

.border-thin2:hover {
  background-color: $primary;
  color: white;

  img {
    filter : invert(1)
  }

}

.card-icon2{
  img {
  width: 50p x;
  height: 50px;
  object-fit: cover;
  }
}
