.site-footer {
  background-size: cover;
  // background-position: center;
  height: 8vh;
  width: 100%;
  bottom: 0;
  background-color: $primary;
  border-top-right-radius: 27%;
  border-top-left-radius: 27%;
  margin-top: 2em;
}
