.footer {
  background-size: cover;
  // background-position: center;
  height: 14vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $my-green;


  h3 {
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 2em;
    color: $my-white;
  }
}

.top {
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 30%;
  clip-path: ellipse(50% 6% at 50% 16%);
  background-color: $my-green;
}
