.image-large{
  width: 70vW;
  height: 30vh;
  object-fit: cover;
}

.image-radius{
  border-radius: 10px;
}

.image-small{
  img {
  width: 50px;
  height: 50px;
  object-fit: cover;  
  }
}

.image-no-background{
  width: 70px;
  height: auto;  
  mix-blend-mode: multiply;
}

.gif-full-width{
  width: 100vw;
  height: auto;
  object-fit: cover;   
}
