.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  h2 {
    margin: 0px;
    text-align: center;
  }

  .scrolling-card {
    display: inline-block;
    width: 100vw;
    height: 95vh;
    margin: 10px;
    position: relative;
  }

  .scrolling-images {
    overflow: hidden;
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: 5px;
    filter: grayscale(0.5);
  }

  .scrolling-title {
    position: absolute;
    top: 45%;
    left: 15%;
    color: red;
  }
}

