.menu-categories {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    &.sticky{
        position: fixed;
        top: 0;
        z-index: 3;
    }
}

.categories-shopping{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    &-list{
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        list-style-type: none;
        padding: 0 5px;
        margin: 0;
        white-space: nowrap;
        &-item{
            text-align: center;
            width: 33%;
            scroll-snap-align: center;
            display: inline-block;
            margin-top: 5px;
            border-radius: 20px;
            padding: 10px;
        }
    }

    
}
.sticky + .container {
    padding-top: 60px;
  }


    
.current-category {
    background-color: $primary;
    color: white;
}