.slick-menu-categories {
    background-color: white;
    width: 100%;

    &.sticky{
        position: fixed;
        top: 0;
        z-index: 3;
    }

   
}

.slick-categories-shopping{
    margin: auto;
    text-align: center;
    padding: 10px 0;
    white-space: nowrap;
    .slick-current {
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        background-color: $primary;
        color: white;
    }
    .slick-prev:before,
    .slick-next:before {
    color: black;
    }

    .slick-slide {
       width: 130px;
    }
}


.sticky + .container {
    padding-top: 60px;
  }


    
.current-category {
    background-color: $primary;
    color: white;
}