.menu-cards-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

h3#recipe-for-date{
  margin-bottom: 0;

}

.menu-card {
    margin:15px 10px;
    display: flex;
    height: 90px;
    position: relative;
   
  &-img{
    height: 100%;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
  }

  &-content{ 
    width: 100%;
    margin-left: -15px;
    padding-left: 15px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    &-title{
      margin-right: 30px;
      margin-top: 5px;
      margin-bottom: 0;
    }
    &-score {
      margin-bottom: 5px;
    }
    & p {
      margin-bottom: 0px;
    }
    &-arrow {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

}