.question-full-screen{
  height: 70vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current{
  display: block !important;
}

.questionitem{
  display: none;  
}




